<!-- load everything first -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Feira: Your market your way.</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Bootstrap CSS-->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">          <link rel="stylesheet" <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    </head>
    <body>

      <!-- main navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c2d5e4;">
            <div class="container-fluid"> 
              <!-- for small devices show a menu button -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSubContent_Level_1" aria-controls="navbarSubContent_Level_1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="navbar-collapse collapse" id="navbarSubContent_Level_1">
                <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'fair:listings' %}">Active Listings</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="#">Active Listings</a>
                    <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                  </li>
         
                  <!-- <li class="nav-item"></li>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </li> -->

                </ul>

                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    {% if user.is_authenticated %}
                    Hi <strong>{{ user.username }}</strong> !.
                      <li class="nav-item">
                        <a class="navbar-link" aria-current="page" href="{% url 'accounts:logout' %}">My listings</a>
                      </li>
                      <li class="nav-item">
                        <a class="navbar-link" aria-current="page" href="{% url 'accounts:logout' %}">Watchlist</a>
                      </li>
                      <li class="nav-item">
                        <a class="navbar-link" aria-current="page" href="{% url 'accounts:logout' %}">Log Out</a>
                      </li>
                      {% else %}
                      <li class="nav-item">
                       <p> Hi! <a class="navbar-link" aria-current="page" href="{% url 'accounts:login' %}">Sign in</a> 
                      
                       or  <a class="navbar-link" aria-current="page" href="{% url 'accounts:register' %}">register</a> </p>
                      </li>
                      {% endif %}
                </ul>
              </div>
            </div>
          </nav>
       

        <!-- Messages and alerts go here -->
        {% if messages %}
        <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            </div>

        </div>
        {% endif %}


        <ul class="nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Order by
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Date: new first</a></li>
              <li><a class="dropdown-item" href="#">Date: old first</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Price: lower to higher</a></li>
              <li><a class="dropdown-item" href="#">Price: higher to lower</a></li>
            </ul>
          </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Another link</a>
            </li>
      
        </ul>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>
