{% extends "home.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}

    {% block listings %}
    {% block confirmation %}
    {% endblock %}
    <div class="container main-container">
        <div class="row d-flex justify-content-center">
                    <div class="col-md-offset-2 col-md-3 content">
                        <div class="card shadow-sm"> 
                            {% if listing.image %}
                                <img src="{{ listing.image.url }}" width="{{ listing.image.width }}" height="{{ listing.image.height }}" class="card-img-top" alt="image" />
                            {% endif %}
                            <div class="card-body">    
                                <h5 class="card-title"> {{ listing.title}} </h5>
                                <p class="card-text"> {{ listing.description }}</p>
                                <div class="clearfix mb-1"> 
                                    <span class="float-start"><i class="fas fa-comment"></i></span> 
                                    <!--  check if the user is the owner -->
                                    {% if user.is_authenticated %}
                                        {% if user.id == listing.owner_id %}
                                            <span class="float-end">
                                                <a href="{% url 'fair:edit_a_listing' listing.id %}"<i class="fas fa-edit"></i></a>
                                            </span> 
                                        {% else %}
                                            <span class="float-end"><i class="fas fa-plus"></i></span> 
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div> 
            
            </div>
    </div>
    {% endblock %}
    
