{% extends "home.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}

    {% block listings %}
    <div class="container py-4">
    <h2>Active Listings:</h2>

    <!-- bootstrap cards -->
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative min-width: 18rem;"">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        {% for listing in active_listings %}
            <div class="col">
                <div class="card h-100 shadow-sm"> 

                    {% if listing.image %}
                        {% thumbnail listing.image "200x200" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top" alt="image" />
                        {% endthumbnail %}
                    {% endif %}
                    <div class="card-body">
                        <div class="clearfix mb-2"> 
                            <span class="float-start badge rounded-pill bg-primary"> {{listing.title}}</span> <span class="float-end price-hp">{{listing.price}}€</span> </div>
                        <h5 class="card-title"> {{ listing.description | truncatechars:24 }} </h5>
                        <div class="text-center my-4"> <a href="{% url 'fair:view_a_listing' listing.id%}" class="btn btn-warning">Check listing</a> </div>
                        <div class="clearfix mb-1"> 
                            <span class="float-start"><i class="fas fa-comment"></i></span> 
                            
                            <!--  check if the user is the owner -->
                            {% if user.is_authenticated %}
                                {% if user.id == listing.owner_id %}
                                    <span class="float-start">
                                        <a href="{% url 'fair:edit_a_listing' listing.id %}"><i class="fas fa-edit"></i></a>
                                    </span> 
                                    <span class="float-end">
                                        <a href="{% url 'fair:delete_a_listing' listing.id %}"><i class="far fa-trash-alt"></i></a>
                                    </span> 
                                {% else %}
                                    <span class="float-end"><i class="fas fa-plus"></i></span> 
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
    
